/* Header */
.navbar .btn {
    background-color: white;
    border-color: #d62828;
    color: #d62828;
}

.navbar .btn:hover {
    background-color: #d62828;
    border-color: white;
    color: white;
}

.navbar .btn:active {
    background-color: white !important;
    border-color: #d62828 !important;
    color: #d62828 !important;
}

.navbar .form-control:focus {
    border-color: #d62828;
    box-shadow: none;
}

.icon-header {
    width: 50px;
}

/* main content */
.h1-location{
    text-align: left;
}
.red-h1{
    color: #d62828;
    font-weight: bold;
}

.btn{
    width: 100px;
}

.view-btn-color:hover{
    background-color: #d62828 !important;
    color: white !important;
    border: none !important;
}


/* footer */

.background-color{
    background-color: #f5f5f5;
}


@media (max-width: 768px) {
    .man-part {
        .first-p-start{
            top: 26%;
            left: 50%;
            font-size: 15px;
            }

            /* .part-vid{
            
                height: 100vh;
            }
         */
    }
  }