/* Header */
.navbar .btn {
    background-color: white;
    border-color: #d62828;
    color: #d62828;
}

.navbar .btn:hover {
    background-color: #d62828;
    border-color: white;
    color: white;
}

.navbar .btn:active {
    background-color: white !important;
    border-color: #d62828 !important;
    color: #d62828 !important;
}

.navbar .form-control:focus {
    border-color: #d62828;
    box-shadow: none;
}

.icon-header {
    width: 50px;
}

/* Main content */
.man-part {
    text-align: center;
    margin-top: 100px; /* Adjust spacing from top as needed */
    position: relative;
    display: inline-block;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.img-text:hover {
    cursor: pointer;
    font-size: 25px;
    color: #d62828;
    
}

.part-img {
    width: 100%;
    height: 100vh;
}

.part-vid{
    width: 100%;
}


.p-color{

    font-weight: bold;
    color: #91909086;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.first-p-start{
    color: #ffffffac;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}



p{
    margin-bottom: 0;
}

/* Fullscreen scrolling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.full-page {
    height: 100%;
    width: 100%;
    overflow-y: auto; /* Allow vertical scrolling within sections */
    scroll-snap-type: y mandatory; /* Enable snap scrolling */
}

.man-part {
    height: 100vh; /* Make sections full viewport height */
    width: 100%;
    scroll-snap-align: start;
}


/* footer */

.background-color{
    background-color: #f5f5f5;
}


@media (max-width: 768px) {
    .man-part {
        .first-p-start{
            top: 26%;
            left: 50%;
            font-size: 15px;
            }

            /* .part-vid{
            
                height: 100vh;
            }
         */
    }
  }